body {
  margin: 0px;
}

h1 {
  text-align: center;
  color: blue;
  font-size: 90px;
}

section {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

p {
  font-size: 32px;
  color: blue;
}

ul {
  background-color: brown;
  margin: 0px;
}

li {
  display: inline-block;
  padding: 15px;
  color: white;
  font-size: 25px;
}

footer {
  margin-top: 30px;
  background-color: rgb(7, 7, 125);
  padding: 15px 10% 15px;
  color: #fff;
  display: grid;
  grid-template-columns: 40% auto auto;
}

.footerblock {
  padding: 15px;
}

footer p {
  font-size: 17px;
  color: #fff;
}

#product {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  text-align: center;
}

.myproduct img {
  width: 70%;
  height: 200px;
  border-radius: 10px;
}

.info {
  width: 70%;
  margin: auto;
  padding: 20px;
  text-align: justify;
}

@keyframes mybanner {
  25% {
    background-image: url('../assignments/grid-photo/images/img16.jpeg');
    font-size: 40px;
  }
  50% {
    background-image: url('../assignments/grid-photo/images/img17.jpeg');
    font-size: 70px;
  }
  75% {
    background-image: url('../assignments/grid-photo/images/img18.jpeg');
    font-size: 90px;
  }
}

#banner {
  height: 200px;
  background-image: url(../assignments/grid-photo/images/img20.jpeg);
  padding: 100px;
  text-align: center;
  font-size: 100px;
  color: #fff;
  animation: mybanner;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/* media query use to find screen width -- very small device*/
@media screen and (min-width: 1px) and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  section {
    grid-template-columns: auto;
  }

  li {
    padding: 10px;
    font-size: 14px;
  }

  footer {
    grid-template-columns: auto;
  }

  #product {
    grid-template-columns: auto;
    width: 100%;
  }
}

/* for medium device */
@media screen and (min-width: 601px) and (max-width: 800px) {
  h1 {
    font-size: 45px;
    color: red;
  }

  section {
    grid-template-columns: auto auto;
  }

  li {
    padding: 10px;
    font-size: 20px;
  }

  footer {
    grid-template-columns: auto auto;
  }

  #product {
    grid-template-columns: auto auto;
    width: 95%;
  }
}

/* for large device */
@media screen and (min-width: 801px) and (max-width: 1000px) {
  h1 {
    font-size: 60px;
    color: greenyellow;
  }

  section {
    grid-template-columns: auto auto;
  }

  li {
    padding: 10px;
    font-size: 20px;
  }
}

/* for extra large device */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  h1 {
    font-size: 70px;
    color: purple;
  }

  section {
    grid-template-columns: auto auto auto;
  }

  li {
    padding: 10px;
    font-size: 20px;
  }
}
